.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f6f7fe;
}

.inputForm {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
}

.input {
  width: 80%;
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #e8e8e8;
  transition: transform 0.3s;
}

.input:focus {
  outline: none;
  transform: scale(1.02);
}

.button {
  width: 15%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  background-color: #29bb89;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #22a67f;
  transform: scale(1.02);
}

.button:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  white-space: pre-wrap;
  margin-bottom: auto;
}

.assistantMessage, 
.userMessage, 
.codeMessage {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  max-width: 65%;
}

.userMessage {
  align-self: flex-end;
  background-color: #29bb89;
  color: #ffffff;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #ffffff;
  color: #333333;
}

.codeMessage {
  background-color: #333333;
  color: #ffffff;
  font-family: 'Courier New', monospace;
  align-self: center;
}